@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;

@tailwind components;

@tailwind utilities;

/* #region - Typography -  */
* {
  font-family: Inter;
}

h1 {
  @apply text-4xl tracking-tight font-semibold text-gray-900 sm:text-5xl md:text-6xl;
}

h2 {
  @apply text-3xl md:text-4xl font-semibold tracking-tight text-gray-900 mb-6 md:mb-8;
}

h3 {
  @apply text-sm font-semibold text-gray-400 tracking-wider uppercase;
}

h4 {
  @apply bg-gradient-to-r from-accent-light to-accent bg-clip-text text-transparent;
}

p {
  @apply text-base text-gray-500 leading-relaxed;
}

ul {
  @apply space-y-2;
}

li {
  @apply pl-4  text-gray-500;
}

li::before {
  @apply text-accent;
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* #endregion - Typography -  */

/* #region - Inputs - */


a.with-underline {
  @apply relative transition w-max hover:text-accent;
}

a.with-underline::before {
  @apply absolute bottom-0 left-0 w-full transition;
  content: " ";
  height: 1px;
  transform: translateY(2px);
}

a.with-underline:hover::before {
  @apply bg-accent;
  transform: translateY(-1px);
}

input[type="text"]:not(.phone-number),
input[type="email"]:not(.text-base),
input[type="number"],
textarea,
select {
  @apply border-gray-400 focus:border-accent text-lg py-3 px-4 block w-full rounded-md;
}

.base-btn {
  @apply w-max
          inline-flex
          items-center
          justify-center
          px-6
          py-3
          border border-transparent
          rounded-md
          shadow-md
          text-base
          font-medium
          focus:outline-none focus:ring-2
          transition
          md:py-3 md:text-lg md:px-7;
}

.btn-light {
  @apply bg-accent-lightest text-accent hover:bg-accent-light hover:text-accent-dark;
}

.btn-dark {
  @apply text-white
                bg-accent
                hover:bg-accent-light hover:text-accent-dark;
}

/* #endregion - Inputs -  */

/* #region - Nav - */

.nav-item {
  @apply group
              rounded-md
              inline-flex
              items-center
              text-base
              font-medium
              capitalize
              transition
              hover:text-accent
              focus:outline-none
              focus:ring-2
              focus:ring-offset-2
              focus:ring-accent-light;
}

.nav-item-mobile {
  @apply  mb-1
                    p-2
                    flex
                    items-center
                    rounded-md
                    capitalize
                    transition
                    hover:bg-accent-light
                    hover:text-accent-dark;
}

.nav-item-mobile__text {
  @apply ml-3 text-sm lg:text-base font-medium;
}

nav a {
  @apply text-black transition;
}

nav a:hover {
  @apply text-accent;
}

nav .router-link-active:not(.no-show-active) {
  @apply relative;
}

nav .router-link-active:not(.no-show-active).nav-item-mobile {
  @apply bg-accent-light;
}

nav .router-link-active:not(.no-show-active):not(.nav-item-mobile)::before {
  @apply bg-accent-light;
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  transition: all 0.2s ease-in-out;
  transform: translateY(2px);
}

/* #endregion - Nav - */

/* #region - Utils - */
.placeholder {
  @apply w-full h-52 md:h-96 bg-gray-800 grid place-items-center rounded-md text-white text-center font-bold py-4 px-4 text-xl;
}

.placeholder-xs {
  @apply w-full h-12 md:h-24 bg-gray-800 grid place-items-center rounded-md text-white text-center font-bold py-4 px-4 text-xl;
}

.question {
  @apply bg-yellow-600;
}

/* #endregion-  */
